body {
    font-family: 'Poor Story', cursive;
    display: flexbox;
    justify-content: center;
    align-items: center;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

button {
    border-radius: 15px;
}

.mS-output, .mS-results {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
}

.unit {
    width: 40px;
    border: 1px solid silver;
    display: flex;
    justify-content: center;
    transition: ease 0.2s;
}